body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.dolartoday {
  width: 265px;
  margin: 50px auto;
  background: white;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,.1)
}

.header{
  background: #229641;
  color: white;
}

.header, .date, .price, .footer {
  padding: .6rem 1.5rem;
}

.price {
  padding-top: 0;
  padding-bottom: 0
}

.date {
  font-size:16px;
  margin-top: 12px;
}

.price h4 {
  margin: 10px 0;
  font-size: 28px;
  font-weight: 500;
}


.header h3 {
  font-weight: lighter;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0,0,0,.2); 
}

.footer {
  font-size: 12px;
  padding-bottom: 20px;
  text-align: center;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  .dolartoday {
    width: 90%;
  }

  .header h3 {
    font-size: 1.4rem;
  }

  .date {
    font-size: 1.29rem;
  }

  .price h4 {
    font-size: 2.28rem;
  }

  .footer {
    font-size: 1rem
  }

}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  .dolartoday {
    width: 90%;
  }

  .header h3 {
    font-size: 1.6rem;
  }

  .date {
    font-size: 1.4rem;
  }

  .price h4 {
    font-size: 2.5rem;
  }

  .footer {
    font-size: 1rem
  }

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

    .dolartoday {
      width: 50%;
    }

    .header h3 {
      font-size: 1.6rem;
    }

    .date {
      font-size: 1.4rem;
    }

    .price h4 {
      font-size: 2.5rem;
    }

    .footer {
      font-size: 1rem
    }

}



/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  
  .dolartoday {
    width: 500px;
  }

  .header h3 {
    font-size: 2rem;
  }

  .date {
    padding-top: 1.6rem;
    font-size: 2rem;
    text-align: center;
  }

  .price h4 {
    font-size: 3.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .footer {
    font-size: 1.6rem;
    padding-bottom: 3rem;
  }
  
}

